.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input__box {
    width: 100%;
    background-color: #44475a;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    color: #f8f8f2;
}

.input__box::placeholder {
    color: rgba(248, 248, 242, .5)
}

.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(40, 42, 54, .95);
    outline: none;
}

.input__submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    right: 0px;
    border-radius: 50px;
    font-size: 15px;
    background-color: #bd93f9FF;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px #282a36;
    border: none;
}

.input__submit:hover {
    background-color: #282a36;
}

.input__submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px #282a36;
}
/* estilo da lista de tarefas */
.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}
/* Estilos do icones */
.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

.todos__single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: #f8f8f2;
    transition: 0.2s;
}

.todos__single--text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}